{% extends 'base.html' %}

{% block title %}To-Do List | Edit Item{% endblock %}


{% block content %}
    {% if item %}
    <form class="form-inline my-2 my-lg-0" method="POST">
      {% csrf_token %} <!--Cross-Site Request Forgery -->
      <input class="form-control mr-sm-2" type="search" placeholder="{{ item.item }}" value="{{ item.item }}" aria-label="Search" name="item">
        <input type="hidden" value="{% item.completed %}" name="completed"> <!-- hidden part to prevent setting Completed as default "False" value -->
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Edit Item</button>
    </form>




    {% endif %}

{% endblock %}